$background-secondary: #212528;
$background-primary: #282828;
$yellow-dark: #b7a159;
$white-dark: #c5c4cb;
$blue-dark: #104ca8;
$black-light: #1e1e1e;
$black-dark: #151515;
$green-light: #10d49b;
$orange-light: #f1a64e;
$red-dark: #e6091f;
