%flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-between-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-align {
  display: flex;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-column-start-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%flex-start-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%flex-justify-center {
  display: flex;
  justify-content: center;
}

%flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

%flex-justify-between {
  display: flex;
  justify-content: space-between;
}

%flex-column-align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
