@import 'styles/colors';
@import 'styles/vars';

.wrapper {
  gap: 10px;
  color: #fff;
  @extend %flex-end;
  flex-direction: row-reverse;

  &__avatar {
    border-radius: 50%;
  }

  &__own__message {
    flex-direction: row;
  }

  &__inner {
    padding: 10px;
    min-width: 60%;
    border-radius: 8px;
    background-color: gray;
    @extend %flex-column;

    &__own__message {
      align-items: flex-end;
      background-color: $green-light;
    }

    &__date {
      color: $background-primary;
    }
  }
}
