@import 'styles/vars';
@import 'styles/colors';

.form {
  gap: 30px;
  min-width: 30%;
  @extend %flex-column;

  &__error {
    color: $red-dark;
  }

  &__preview__image {
    border-radius: 50%;
  }

  &__inner {
    display: flex;
    gap: 10px;

    &__upload {
      padding: 10px;
      width: fit-content;
      border-radius: 4px;
      background-color: $orange-light;

      &__label {
        cursor: pointer;
      }

      &__input {
        display: none;
      }
    }

    &__input {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: none;
    }
  }

  &__button {
    background-color: $blue-dark;
    color: $white-dark;
    border-radius: 4px;
    padding: 5px 10px;

    &:disabled {
      background-color: $background-secondary;
      color: $blue-dark;
    }
  }
}
